
body { 
	color: white;
	font-family: 'roboto';
	width: 100%;
	height: 100%;
}
 
.omschrijving {
	padding-left: 2em;
	padding-top: 1em;
}
html {
	scroll-behavior: smooth;
  }

.break {
	background-color: #FFF33D;
	height: 1em;
	width: 10em;
	margin-bottom: 3em;
	margin-top: 1em;
}

.node circle:hover {
	 stroke: white;
	stroke-width: 6 ;
	color: white;
}

text.title {
	font-size: 22px;
	font-weight: 600;
	color: white;
  }

  div.tooltip {
	position: absolute;
	text-align: center;
	width: 200px;
	height: 15%;
	padding: 2px;
	font: 14px sans-serif;
	border: 2px solid black;
	border-radius: 8px;
	pointer-events: none;
	background-color:white;
	color: black;
	font-family: roboto;
  }


.header-content {
	background-color:black;
}

body, p {
	color: #b6b6bb; 
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}


h1 {
	color: #f1f1f8;
	font: 700 2.5rem/2.875rem "rubik", sans-serif;
}

h2 {
	color: #f1f1f8;
	font-family: 'Rubik', sans-serif;
}

 h3 {
	color: #f1f1f8;
	font: 600 1.75rem/2.125rem "rubik", sans-serif;
}
h4 {
	color: #FFF33D;
	font: 600 1.375rem/1.75rem "rubik", sans-serif;
}
.footer {
	color: black;
	font: 600 1.375rem/1.75rem "rubik", sans-serif;
}

a {
	color: #f1f1f8;
	text-decoration: underline;
}

.legenda {
	color:grey;
	font-family: 'roboto';
	list-style: none; /* Remove default bullets */
	 line-height: 0.5;
	 margin-right: -7em;
  }

  ul .NL::before {
	  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #ef8133;
	  font-size: 5em;
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */
	  width: 0.5em; /*Also needed for space (tweak if needed)*/
	  vertical-align: -0.30em;
  }

  ul .MN::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #66b770;
	  font-size: 5em;
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */
	  width: 0.5em; /*Also needed for space (tweak if needed)*/
	  vertical-align: -0.30em;
}
ul .TN::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #e63e32;
	  font-size: 5em;
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */
	  width: 0.5em; /*Also needed for space (tweak if needed)*/
	  vertical-align: -0.30em;
}
ul .SN::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #f3cc31;
	  font-size: 5em;
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */
	  width: 0.5em; /*Also needed for space (tweak if needed)*/
	  vertical-align: -0.30em;
}
ul .VAN::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #494496;
	  font-size: 5em;
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */
	  width: 0.5em; /*Also needed for space (tweak if needed)*/
	  vertical-align: -0.30em;
}
ul .OW::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #a54f9a;
	  font-size: 5em;
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */
	  width: 0.5em; /*Also needed for space (tweak if needed)*/
	  vertical-align: -0.30em;
}
ul .ONW::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #61c5db;
	  font-size: 5em;
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */
	  width: 0.5em; /*Also needed for space (tweak if needed)*/
	  vertical-align: -0.30em;
}
  
.btn-solid-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #FFF33D;
	border-radius: 2rem;
	background-color: #FFF33D;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #FFF33D;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #FFF33D;
	border-radius: 2rem;
	background-color: #FFF33D;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #FFF33D;
	text-decoration: none;
}

.btn-solid-lg .fab {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}

.btn-solid-lg .fab.fa-google-play {
	font-size: 1rem;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #FFF33D;
	border-radius: 2rem;
	background-color: transparent;
	color: #FFF33D;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-reg:hover {
	background-color: #FFF33D;
	color: #fff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #FFF33D;
	border-radius: 2rem;
	background-color: transparent;
	color: #FFF33D;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-lg:hover {
	background-color: #FFF33D;
	color: #FFF33D;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 0.875rem 1.625rem;
	border: 0.125rem solid #FFF33D;
	border-radius: 2rem;
	background-color: transparent;
	color: #FFF33D;
	font: 700 0.625rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-sm:hover {
	background-color: #FFF33D;
	color: #fff;
	text-decoration: none;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.75rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s ease;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 130px;
	height: 70px;
	margin-bottom: 1px;
}

.navbar-custom .navbar-brand.logo-text {
	font-family: roboto;
	color: #fff;
	letter-spacing: -0.5px;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0 0.75rem 0 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}



/*********************/
/*    04. Header     */
/*********************/
 
.header {
	padding-bottom: 12em;
	background-color: black;
}

.header .text-container {
	margin-bottom: 8rem;
}

.header h1 {
	margin-bottom: 1rem;
}

.header #js-rotating {
	color: #FFF33D;
}

.header .p-large {
	margin-bottom: 2rem;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}

/************************/
/*     05. Features     */
/************************/
.tabs {
	padding-top: 6.5rem;
	padding-bottom: 4.25rem;
	background-color: black;
}

.tabs h2 {
	margin-bottom: 1.125rem;
	text-align: center;
}

.tabs .p-heading {
	margin-bottom: 3.125rem;
}

.tabs .nav-tabs {
	margin-right: auto;
	margin-bottom: 2.5rem;
	margin-left: auto;
	justify-content: center;
	border-bottom: none;
}

.tabs .nav-link {
	margin-bottom: 1rem;
	padding: 0.3rem 1.175rem 0.05rem 1.175rem;
	border: none;
	border-bottom: 0.1875rem solid #f1f1f8;
	border-radius: 0;
	color: #f1f1f8;
	font: 700 1rem/1.75rem "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.tabs .nav-link.active,
.tabs .nav-link:hover {
	border-bottom: 0.1875rem solid #FFF33D;
	background-color: transparent;
	color: #FFF33D;
}

.tabs .nav-link .fas {
	margin-right: 0.375rem;
	font-size: 0.5rem;
}

.tabs .tab-content {
	width: 100%; /* for proper display in IE11 */
}

.tabs .card {
	border: none;
	background: transparent;
}

.tabs .card-body {
	padding: 0.5rem 0 1rem 0;
}

.tabs .card-title {
	margin-bottom: 0.5rem;
}

.tabs .card .card-icon {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #FFF33D;
	text-align: center;
	vertical-align: top;
}

.tabs .card .card-icon .fas,
.tabs .card .card-icon .far {
	color: #fff;
	font-size: 0.09rem;
	line-height: 3.5rem;
}

.tabs #tab-1 .card.left-pane .text-wrapper {
	display: inline-block;
	width: 75%;
}

.tabs #tab-1 .card.left-pane .card-icon {
	float: left;
	margin-right: 1rem;
}

.tabs #tab-1 img {
	display: block;
	margin: 2rem auto 3rem auto;
}

.tabs #tab-1 .card.right-pane .text-wrapper {
	display: inline-block;
	width: 75%;
}

.tabs #tab-1 .card.right-pane .card-icon {
	margin-right: 1rem;
}

.tabs #tab-2 img {
	display: block;
	margin: 0 auto 2rem auto;
}

.tabs #tab-2 .text-area {
	margin-top: 1.5rem;
}

.tabs #tab-2 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-2 .icon-cards-area {
	margin-top: 1rem;
}

.tabs #tab-2 .icon-cards-area .card {
	width: 100%; /* for proper display in IE11 */
}

.tabs #tab-3 .icon-cards-area .card {
	width: 100%; /* for proper display in IE11 */
}

.tabs #tab-3 .text-area {
	margin-top: 0.75rem;
	margin-bottom: 4rem;
}

.tabs #tab-3 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-3 img {
	margin: 0 auto 3rem auto;
}

/*************************/
/*     07. Details 1     */
/*************************/
.basic-2 {
	padding-top: 6rem;
	padding-bottom: 3.5rem;
	background-color: black;
}

.basic-2 img {
	margin-bottom: 3.5rem;
}

.basic-2 h3 {
	margin-bottom: 1.125rem;
}

.basic-2 .btn-solid-reg {
	margin-top: 0.5rem;
}

/**********************/
/*     14. Footer     */
/**********************/
.footer {
	padding-top: 1rem;
	background-color: #FFF33D;
}

.footer h4 {
	margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
	color: #FFF33D;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1rem;
	font-family: roboto;
}

.footer .fa-stack .fa-stack-1x {
    color: #262431;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #f1f1f8;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #f1f1f8;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #FFF33D;
}





/*****************************/
/*     18. Media Queries     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	h1 {
		font: 700 3.25rem/3.75rem "rubik", sans-serif;
	}
	/* end of general styles */
	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
	}

	li .nav-item:hover {
		color: #FFF33D;
	}


	/* Header */
	.header .header-content {
		padding-top: 20rem;
	}


	/* Features */
	.tabs .card .card-icon {
		width: 1.5rem;
		height: 1.5rem;
	}
	
	.tabs .card .card-icon .fas,
	.tabs .card .card-icon .far {
		font-size: 2.25rem;
		line-height: 4.5rem;
	}

	.tabs #tab-1 .card.left-pane .text-wrapper {
		width: 85%;
	}

	.tabs #tab-2 img {
		margin-bottom: 0;
	}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {	
	/* Navigation */
	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		margin-bottom: 0.1875rem;
		margin-left: 0.375rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		color: #FFF33D;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #FFF33D;
	}
	/* end of navigation */


	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */

	/* Header */
	.header .header-content {
		padding-top: 13rem;
		padding-bottom: 10rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 6.5rem;
	}
	/* end of header */

	/* Features */
	.tabs .card-body {
		padding: 1rem 0 1.5rem 0;
	}
	
	.tabs #tab-1 .card.left-pane {
		text-align: right;
	}

	.tabs #tab-1 .card.left-pane .text-wrapper,
	.tabs #tab-1 .card.right-pane .text-wrapper {
		width: 68%;
	}

	.tabs #tab-1 .card.left-pane .card-icon {
		float: none;
		margin-right: 0;
		margin-left: 1rem;
	}

	.tabs #tab-1 img {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.tabs #tab-2 .icon-cards-area {
		margin-top: 2.25rem;
	}

	.tabs #tab-2 .icon-cards-area .card {
		width: 45%;
		margin-right: 3.5rem;
	}

	.tabs #tab-2 .icon-cards-area .card p {
		margin-bottom: 0.5rem;
	}

	.tabs #tab-3 .icon-cards-area .card {
		width: 45%;
		margin-right: 3.5rem;
	}

	.tabs #tab-3 .icon-cards-area .card p {
		margin-bottom: 0.5rem;
	}
	/* end of features */

	/* Details 1 */
	.basic-2 img {
		margin-bottom: 0;
	}

	.basic-2 .text-container {
		margin-top: 2.625rem;
	}
	/* end of details 1 */


	/* Details 2 */
	.basic-3 .text-container {
		margin-top: 2.5rem;
		margin-bottom: 0;
	}
	/* end of details 2 */


	/* Details Lightboxes */
	.lightbox-basic img {
		margin-bottom: 0;
		margin-left: 0;
	}

	.lightbox-basic h3 {
		margin-top: 0.25rem;
	}
	/* end of details lightboxes */


	/* Screenshots */
	.slider-2 .swiper-container {
		width: 92%;
	}
	/* end of screenshots */


	/* Download */
	.basic-4 {
		padding-top: 6.75rem;
	}

	.basic-4 .text-container {
		margin-top: 7rem;
		margin-bottom: 0;
		text-align: left;
	}
	/* end of download */


	/* Statistics */
	.counter {
		padding-top: 6rem;
		padding-bottom: 4.5rem;
	}

	.counter #counter .cell {
		width: 8rem;
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}
	
	.counter #counter .counter-value {
		font: 700 4.25rem/4.5rem "Montserrat", sans-serif;	
	}
	/* end of statistics */

}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 5rem 0.5rem 5rem;
	}
	/* end of navigation */
	
	/* General Styles */
	.p-heading {
		width: 44%;
	}
	/* end of general styles */


	/* Header */
	.header .text-container {
		margin-top: 7.5rem;
		margin-left: 2.5rem;
	}

	.header .image-container {
		margin-left: 3rem;
	}
	/* end of header */


	/* Features */
	.tabs {
		padding-bottom: 6.5rem;
	}

	.tabs #tab-1 .card.first {
		margin-top: 4.25rem;
	}

	.tabs #tab-1 .card {
		margin-bottom: 0.75rem;
	}

	.tabs #tab-1 .card.left-pane .text-wrapper,
	.tabs #tab-1 .card.right-pane .text-wrapper {
		width: 73%;
	}

	.tabs #tab-1 img {
		margin-top: 0;
	}

	.tabs #tab-2 .container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}

	.tabs #tab-2 .text-area {
		margin-top: 1.5rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.tabs #tab-2 .icon-cards-area {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.tabs #tab-2 .icon-cards-area .card {
		margin-right: 3.875rem;
	}

	.tabs #tab-3 .container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	
	.tabs #tab-3 .icon-cards-area {
		margin-top: 2rem;
		margin-left: 1rem;
	}

	.tabs #tab-3 .icon-cards-area .card {
		margin-right: 3.875rem;
	}
	
	.tabs #tab-3 .text-area {
		margin-right: 1.5rem;
		margin-left: 1rem;
	}
	/* end of features */


	/* Details 1 */
	.basic-2 .text-container {
		margin-top: 4.5rem;
		margin-left: 4rem;
		margin-right: 1.5rem;
	}
	/* end of details 1 */
	
	
	/* Details 2 */
	.basic-3 .text-container {
		margin-top: 4.5rem;
		margin-right: 3.5rem;
		margin-left: 2rem;
	}
	/* end of details 2 */


	/* Download */
	.basic-4 .text-container {
		margin-top: 11rem;
	}

	.basic-4 .image-container {
		margin-left: 3rem;
	}
	/* end of download */


	/* Footer */
	.footer .footer-col {
		width: 90%;
	}

	.footer .footer-col.middle {
		margin-right: auto;
		margin-left: auto;
	}

	.footer .footer-col.last {
		margin-right: 0;
		margin-left: auto;
	}
	/* end of footer */
}
/* end of min-width width 1200px */
}

   .axisWhite line{
	stroke: white;
  }
  
  .axisWhite path{
	stroke: white;
  }
  
  .axisWhite text{
	fill: white;
  }   
	
/* ---------- ANIMATION FOR H1 ON HEADER ---------- */
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  	display: block;
	top: 8em; 
  	width: 60%; 
  	font-size: 2em;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

button {
	color: white;
	display: block;
    position: relative;
	/* top: -263em; */
	left: 2em;
	display: inline-block;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border: 0.075rem solid #FFF33D;
    border-radius: 5rem;
    background-color: transparent;
    font: 600 0.75rem/0 "Montserrat", sans-serif;
    text-decoration: none;
	transition: all 0.2s ease;
	margin: 5em;
}

button:hover {
	background-color: #FFF33D;
	color: black;
	text-decoration: none;
}

.scatterplot {
width: 90%;
margin: 3em;
}

.titelscatterplot h2{
text-align: left;
}

.textbubble {
	font-size: 1.5em;
	font-family: 'Rubik';
}

.textbubblechart {
	font-size: 1em;
	font-family: roboto;
	line-height: 1.3;
	padding-bottom: 3em;
}

   .dot {
	width:10px;
	height:10px;
	border-radius:100px;
	background:#7f8c8d;
	display:inline-block;
	text-align:center;
	cursor:pointer;
	padding: 0.1em;
	margin: 0.5em;
  }

  .dots-wrap{
	display: flex;
	  flex-wrap: nowrap ;
	justify-content: center;
	padding-top: 9em;
	margin-right: 2.7em;
  }
  .downarrow {
	  display: flex;
	  flex-wrap: nowrap ;
	justify-content: center;
  }
  .downarrow img {
    width: 3em;
	height: 3em;
  }

  .klacht {
	color: white;
	display: block;
    position: relative;
	left: 2em;
	display: inline-block;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border: 0.075rem solid black;
	background-color: transparent;
	background-color: black;
    font: 600 0.75rem/0 "Montserrat", sans-serif;
    text-decoration: none;
	transition: all 0.2s ease;
	margin-bottom: 0.5em; 
	width: 50%;
  }

  .klacht:hover {
	background-color: transparent;
	color: black;
	text-decoration: none;
}

.footer p {
	color: black;
}

.footer img {
	width: 2em;
	height: 2em;
}

.footer-col button {
	padding: 0;
	left:0;
}

#omsch-chart {
margin-left: 3em;
font-size:1em;
}